/* The container holding the search results */
.search-results-container {
    position: relative;
    top: 12vh; /* Start 20% down the screen */
    margin-top: 20px; /* Optional padding for spacing */
    height: calc(80vh - 20%); /* Height minus space taken by the search bar and the 20% top padding */
    width: 60vw;
    box-sizing: border-box;
    margin-left: 3vw;
}

.no-results {
    margin-left: 25px;
    font-size: 3rem; /* Make the text larger */
    font-weight: bold; /* Bold text to grab attention */
    color: #515d50; /* Keep the green color */
    padding-top: 0px; /* Increase padding for breathing space */
}