/* Apply Raleway font to the entire card */
.search-result-card {
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.625rem; /* 10px to rem */
    padding: 1.25rem; /* 20px to rem */
    margin: 1.25rem 0; /* 20px to rem */
    width: 80%; /* Adjust card width */
    box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.1); /* 4px 10px to rem */
    box-sizing: border-box; /* Ensure padding and border are inside the width */
    position: relative; /* This is important for positioning the popup relative to the card */
    font-family: 'Raleway', sans-serif; /* Apply Raleway font */
}

.document-title {
    font-weight: bold;
    margin-bottom: 1rem !important; /* 15px to rem */
    font-size: 1.5rem; /* Adjust font size */
}

.country-info-row {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10px to rem */
    margin-bottom: 1rem; /* 15px to rem */
}

.flag-icon {
    width: 2.5rem; /* 40px to rem */
    height: 1.5625rem; /* 25px to rem */
    object-fit: cover;
    border: 0.0625rem solid black; /* 1px to rem */
}

.country-name,
.document-type,
.document-date {
    font-size: 0.875rem; /* 14px to rem */
    color: black;
}

.divider {
    margin: 1rem 0; /* 15px to rem */
    background-color: gray;
}

.search-result {
    display: flex;
    align-items: center;
    margin-bottom: 1rem; /* 15px to rem */
}

.search-score {
    font-size: 1.5rem !important; /* 24px to rem */
    font-weight: bold;
    margin-right: 1.25rem !important; /* 20px to rem */
    min-width: 3.75rem; /* 60px to rem */
    text-align: center;
    color: black;
}

.search-result-content {
    flex-grow: 1;
}

.search-result-title {
    white-space: pre-line; /* This ensures that \n is rendered as a new line */
    font-weight: bold;
    margin-bottom: 0.3125rem; /* 5px to rem */
    font-size: 1rem; /* Adjust font size */
}

.search-result-text {
    color: #555;
    font-size: 0.875rem; /* 14px to rem */
}

/* Divider styling */
.divider {
    margin: 1rem 0; /* Current margin */
    margin-bottom: 1rem !important; /* Add more space below */
}

.message-icon-button {
    margin-left: auto;
}

.message-icon-button.active svg {
    fill: black;
}

.close-button {
    position: absolute;
    top: 0.625rem; /* 10px to rem */
    right: 0.625rem; /* 10px to rem */
    z-index: 10;
}


/* Skeleton loader animation */
.skeleton-loader {
    background-color: #eee;
    height: 1rem; /* Adjust the height as per your text size */
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
}

.skeleton-loader::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,0));
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}
