/* The container holding the search results */
.search-results-container {
    position: absolute;
    top: 10%; /* Start 20% down the screen */
    margin-top: 20px; /* Optional padding for spacing */
    height: calc(100vh - 20%); /* Height minus space taken by the search bar and the 20% top padding */
    width: 65%;
    box-sizing: border-box;
    margin-left: 20px;
}

/* Styling for the "No search results found" message */
.no-results {
    margin-left: 25px;
    font-size: 16px;
    color: #555;
    padding-top: 10px; /* Some padding to give it breathing space */
}