/* Logo placement */
.sidebar-logo {
  width: 100%;
  padding: 0.125rem 0; /* Reduce padding to shrink the gap */
  margin: 0 auto; /* Center the logo */
  text-align: center;
}

.sidebar-logo img {
  max-width: 100%; /* Ensure the logo doesn't exceed its container */
  height: auto;
}

/* Button group styling */
.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.custom-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.custom-button.active {
  background-color: black;
  color: white;
}

/* Divider spacing */
.sidebar-divider {
  margin: 1rem 0;
  background-color: gray;
}

.custom-checkbox {
  padding: 0.5rem;
  position: relative;
  z-index: 1;  /* Forces checkbox to be on top */
}

.scrollable-list {
  max-height: 10rem;
  overflow-y: auto;
  padding-right: 0.5rem;
  position: relative;
  z-index: 0;  /* Ensure it doesn't interfere with the checkbox z-index */
}

/* Slider */
.custom-slider {
  margin-top: 1rem;
}

.slider-range {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* General typography */
.sidebar-section-title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}